<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--FrontController recibe todas las peticiones destinadas a un Servlet-->
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    
    <!--Configuracion del pool de conexiones del servidor-->
    <resource-ref>
        <res-ref-name>jdbc/tiendaonline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    <!--Fichero con los datos de la cuenta de administrador>
    <context-param>
        <param-name>adminConfigFile</param-name>
        <param-value>/WEB-INF/configFiles/adminConfig.prop</param-value>
    </context-param -->

    <!--Fichero con los datos del servidor para mandar los emails-->
    <context-param>
        <param-name>emailConfigFile</param-name>
        <param-value>/WEB-INF/configFiles/emailConfig.prop</param-value>
    </context-param>
    <!--Fichero con la politica de prevencion de XSS-->
    <context-param>
        <param-name>xssPolicyConfigFile</param-name>
        <param-value>/WEB-INF/configFiles/antisamy-slashdot-1.4.3.xml</param-value>
    </context-param>
    
    <!--Parametros del contexto para configurar la aplicacion-->    
    <!--Fichero para configurar la persistencia de la aplicacion, que puede ser:
         pool: usa el pool de persistencia (ha de estar configurado el servidor de aplicaciones)
         jdbc: usa JDBC directamente; es necesario especificar la URL de la base de datos, el driver el usuario y el password
         file: se empleara un sistema de ficheros para persistir la aplicacion-->   
    <context-param>
        <param-name>persistenceConfigFile</param-name>
        <param-value>/WEB-INF/configFiles/persistenceConfig.prop</param-value>
    </context-param>    
    <context-param>
        <param-name>persistenceMechanism</param-name>
        <param-value>jdbc</param-value>
    </context-param>
    <!--Si falla el persistenceConfigFile se emplea esta configuracion:
        Configuracion de la base de datos jdbc:mysql://localhost:3306/tiendaonline-->
    <context-param>
        <param-name>databaseURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/tiendaonline</param-value>
    </context-param>
    <context-param>
        <param-name>databaseDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUser</param-name>
        <param-value>userlpi</param-value>
    </context-param>
    <context-param>
        <param-name>databasePassword</param-name>
        <param-value>passlpi</param-value>
    </context-param>
    
    <!--Listado de categorias del panel lateral izquierdo de la web
        Seran presentadas como enlaces de busqueda a esa categoria: Categoria=type>
    <context-param>
        <param-name>categories</param-name>
        <param-value>Rock=rock,POP=pop,Jazz=jazz,R &amp; B=rb,Clasica=classic,Folk=folk,Chill-Out=chillout,Electronica=electronica,Avant-Garde=avantgarde</param-value>
    </context-param-->
    
    <!--Recursos estaticos y JSPs de la aplicacion-->
    <!--Accesibles sin credenciales-->
    <context-param>
        <param-name>frontPage</param-name>
        <param-value>/index.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSearchForm</param-name>
        <param-value>/WEB-INF/view/public/ticketSearchForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSearch</param-name>
        <param-value>/WEB-INF/view/public/ticketSearch.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSelectionSearch</param-name>
        <param-value>/WEB-INF/view/public/ticketSelectionSearch.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSelectionForm</param-name>
        <param-value>/WEB-INF/view/public/ticketSelectionForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSitForm</param-name>
        <param-value>/WEB-INF/view/public/ticketSitForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSelectionInfo</param-name>
        <param-value>/WEB-INF/view/public/ticketSelectionInfo.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketCheckoutForm</param-name>
        <param-value>/WEB-INF/view/public/ticketCheckoutForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketCheckoutError</param-name>
        <param-value>/WEB-INF/view/public/ticketCheckoutError.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketCheckoutOK</param-name>
        <param-value>/WEB-INF/view/public/ticketCheckoutOK.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpSearch</param-name>
        <param-value>/WEB-INF/view/public/ticketOpSearch.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpSearchList</param-name>
        <param-value>/WEB-INF/view/public/ticketOpSearchList.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpSearchError</param-name>
        <param-value>/WEB-INF/view/public/ticketOpSearchError.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpCancelOK</param-name>
        <param-value>/WEB-INF/view/public/ticketOpCancelOK.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpChangeOK</param-name>
        <param-value>/WEB-INF/view/public/ticketOpChangeOK.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>clubBusCreateForm</param-name>
        <param-value>/WEB-INF/view/public/clubBusCreateForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>clubBusCreateOK</param-name>
        <param-value>/WEB-INF/view/public/clubBusCreateOK.jsp</param-value>
    </context-param>

    <!--Accesibles solo acreditando ser comprador del billete-->
    <context-param>
        <param-name>ticketOpMenu</param-name>
        <param-value>/WEB-INF/view/private/ticketOpMenu.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpInfo</param-name>
        <param-value>/WEB-INF/view/private/ticketOpInfo.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpCancel</param-name>
        <param-value>/WEB-INF/view/private/ticketOpCancel.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpChange</param-name>
        <param-value>/WEB-INF/view/private/ticketOpChange.jsp</param-value>
    </context-param>

    <!--Accesibles solo con credenciales de administrador-->
    
    
    <!--Recurso para referenciar una Solicitud incorrecta o error-->
    <context-param>
        <param-name>errorForm</param-name>
        <param-value>/WEB-INF/400error.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>exceptionError</param-name>
        <param-value>/WEB-INF/500error.jsp</param-value>
    </context-param>
      
    <!--Parametros de contexto de los Servlets de la aplicacion-->
    <context-param>
        <param-name>frontController</param-name>
        <param-value>FrontController</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSearchServlet</param-name>
        <param-value>TicketSearchServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSelectionServlet</param-name>
        <param-value>TicketSelectionServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSelectionFormServlet</param-name>
        <param-value>TicketSelectionFormServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketSitServlet</param-name>
        <param-value>TicketSitServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketCheckoutServlet</param-name>
        <param-value>TicketCheckoutServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpSearchServlet</param-name>
        <param-value>TicketOpSearchServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpSearchListServlet</param-name>
        <param-value>TicketOpSearchList</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpCancelServlet</param-name>
        <param-value>TicketOpCancelServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpChangeSelectionServlet</param-name>
        <param-value>TicketOpChangeSelectionServlet</param-value>
    </context-param>
    <context-param>
        <param-name>ticketOpChangeServlet</param-name>
        <param-value>TicketOpChangeServlet</param-value>
    </context-param>
    
    <!--Servlets de la aplicacion-->
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketSearchServlet</servlet-name>
        <servlet-class>controller.public.TicketSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketSelectionServlet</servlet-name>
        <servlet-class>controller.public.TicketSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketSelectionFormServlet</servlet-name>
        <servlet-class>controller.private.TicketSelectionFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketSitServlet</servlet-name>
        <servlet-class>controller.private.TicketSitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketCheckoutServlet</servlet-name>
        <servlet-class>controller.private.TicketCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketOpSearchServlet</servlet-name>
        <servlet-class>controller.private.TicketOpSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketOpSearchList</servlet-name>
        <servlet-class>controller.private.TicketOpSearchList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketOpCancelServlet</servlet-name>
        <servlet-class>controller.private.TicketOpCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketOpChangeSelectionServlet</servlet-name>
        <servlet-class>controller.private.TicketOpChangeSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketOpChangeServlet</servlet-name>
        <servlet-class>controller.private.TicketOpChangeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageExceptionServlet</servlet-name>
        <servlet-class>controller.ManageExceptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageExceptionServlet</servlet-name>
        <url-pattern>/Ooops</url-pattern>
    </servlet-mapping>
    
    <!--Listeners de inicializacion y sesion-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controller.StartUpListener</listener-class>
    </listener>
    <!--listener>
        <description>SessionListener</description>
        <listener-class>controller.SessionListener</listener-class>
    </listener-->
    
    <!--Filtros de la aplicacion>
    <filter>
        <filter-name>CheckCartFilter</filter-name>
        <filter-class>controller.filter.CheckCartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckCartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->
    
    <!--Recursos para errores http 404, 500 y gestion de Excepciones-->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/404error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/500error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Ooops</location>
    </error-page> 
    
    <!--Timeout de la sesion y fichero de bienvenida-->
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
