
body {
	margin: 0;
	padding: 0;
	background: #fff url(images/header.jpg) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #121212;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #121212;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #d90011;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 200px;


}

#header {
	width: 950px;
	margin: 0 auto;
	padding: 0px 0px 0px 30px;
}
/* Top Menu */

#topmenu {
	width: 950px;
	height: 40px;
	margin: 0 auto;
	padding: 10px 0px 0px 40px;
	color: #FFF;
	
}

#topmenu p{
	font-size: 18px;
	font-weight: bold;
}

/* Logo */

#logo {
	float: left;
	width: 330px;
	margin: 0px;
	padding: 30px 0px 0px 10px;
	color: #fcb9da;

}

#logo h1, #logo p {
}

#logo h1 {
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 3.8em;
	background: redc;
}

#logo h1 span {
	color: #fff;
}

#logo p {
	margin: 0;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	color: #fff;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #fff;
}

/* Search */

#search {
	float: left;
	width: 280px;
	height: 40px;
	padding: 0px;
}

#search form {
	height: 40px;
	margin: 0;
	padding: 0px 0 0 10px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #e4e4e4;
	color: #171d21;
}



/* Menu */

#menu {
	float: left;
	width: 600px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: left;
	margin: 0;
	padding: 30px 0px 0px 70px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 16px 20px 15px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #d4000e;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 990px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background: url(images/img03.jpg) repeat-y left top;
}

#page-bgtop {
	padding: 40px 0px 20px 0px;
	background: url(images/img02.jpg) no-repeat left top;
}
/* Content */

#content {
	float: right;
	width: 720px;
	padding: 0px 0px 0px 0px;
}

.post {
	margin-bottom: 40px;
	border-bottom: 1px dotted #E7E2DC;
	margin-right: 10px;
}

.post .title {
	height: 41px;
	padding: 7px 0px 0px 40px;
	letter-spacing: -.5px;
}

.post .title a {
	border: none;
	color: #121212;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px 30px 0px 30px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
}

.post .meta .date {
	float: left;
	padding-left: 30px;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	margin: 0px;
	padding: 0px 20px 0px 10px;
	color: #121212;
}

#sidebar ul {
	margin: 0px 0px 10px 0px;
	padding: 10px;
	list-style: none;
	background-color: #e6e6e6;
	border: 0px solid #dfdfdf;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #fff;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #000;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #d90011;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 30px 0;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 4px solid #1f2429;
	width: 990px;
	background: #343837;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

#footer a {
	color: #fff;
}